name: Build

on: [pull_request, push]

jobs:
  Build:
    runs-on: ubuntu-latest    

    permissions:
      # Allow commenting on commits
      contents: write
      # Allow commenting on issues
      issues: write
      # Allow commenting on pull requests
      pull-requests: write
      
    steps:
      - name: Checkout
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Pnpm
        run: |
          npm install -g corepack@latest --force
          corepack enable

      - name: Setup Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: 22
          cache: 'pnpm'

      # Update npm to the latest version to enable OIDC
      - name: Update npm
        run: |
          npm install -g npm@latest
          npm --version
          node --version
          npx -v

      - name: Install Dependencies and Build
        run: |
          pnpm install --ignore-scripts
          pnpm run build
          
      - name: Build Demo Project
        run: |
          cd examples/rsbuild-demo
          pnpm install
          pnpm run build
          
      - name: Report Compressed Size
        uses: web-infra-dev/rsdoctor-action@main
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          file_path: 'examples/rsbuild-demo/dist/.rsdoctor/rsdoctor-data.json'
          target_branch: 'main'